.navbar {
    background-color: #333;
    overflow: hidden;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 300px) {
    .menu {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .menu li {
        width: 100%;
    }

    .menu-icon {
        display: block;
        color: white;
        text-align: right;
        padding: 14px 16px;
    }

    .navbar.responsive .menu {
        display: flex;
    }
}